doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title} | TodoApp
    link(rel="stylesheet" href="/css/styles.css")
  body
    header
      nav
        a(href="/") Список
        |  · 
        a(href="/new") Новая
        |  · 
        a(href="/about") О нас
    main
      block content
